.main_div {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}

.main_div {
    width: 100%;
    margin-top: 10%;
}


.card__ {
    position: relative;
    align-items: center;
    margin-top: 10px;
    background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
    width: 500px;
}

.card_image {
    max-width: 40%;
    margin-top: 20px;
}

.card_body {
    background-color: transparent;

}

.card_title {
    margin-top: 10px;
    background-color: transparent;
}

.card_email {
    margin-top: 10px;
    font-size: 20px;
    background-color: transparent;

}


.loader{
    position: relative;
    top: 200px;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);   
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);

    }
}

.loader:before{
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgb(157, 196, 241);
    border-radius: 50%;
    z-index: 1000;
}

.loader:after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);   
    border-radius: 50%;
    /* z-index: 1000; */
    z-index: 1;
    filter: blur(-30px);
}